#admin-sidebar {
    background-color: #164b3f;
    display: flex;
    flex-direction: column;
}

#admin-sidebar .profile{
    display: flex;
    padding: 1rem;
    color:white;
    justify-content: start;
}


.control-panel div a.list-group-item {
    background-color: transparent;
    border: none;
    color: white;
    transition: .2s ease-in-out;
}

.control-panel div a.list-group-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.control-panel div a.list-group-item.active {
    background-color: rgba(0, 0, 0, 0.2);
}

#main_content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
    background-color: #e0e0e0;

}

#admin-dashboard {
    flex: 0 1 auto;
}

#content {
    flex: 1 1 auto;
    overflow: auto;
}

.text-blue {
    color: rgb(46, 116, 197);
}

.center-on-sm{
    justify-content: center;
}

.report-scalar {
    padding: .5rem;
    width: 180px;
    margin: 0 .5rem .5rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 4px 0px #4bd6b64b;
}


@media (min-width: 576px) {
    #admin-sidebar {
        background-color: #164b3f;
        height: 100vh;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {

#content > div {
    padding: 1rem 2rem;
}

.between-on-lg {
    justify-content: space-between;
}

}