.profile-card {
    background-image: url("../images/wallpaper.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: none;
    overflow: hidden;
}

.profile-card .mask {
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    min-height: 57px;
}

.profile-card .profile-content img {
    width: 100px;
    height: 100px;
    border: 2px solid rgba(52, 182, 152, 1);
}

.profile-card .navigate {
    position: relative;
}

.profile-card .navigate .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
}

.profile-card .profile-header {
    margin-top: 6rem;
}

.profile-card .profile-content {
    position: relative;
    /* margin-top: -100px; */
}

hr {
    margin: 0;
    border: none !important;
    border-top: 1px solid gray !important;
}

.item-card {
    max-width: 280px;
    min-width: 280px;
    margin: 0 0.5rem;
}

.item-card .item-thumbnail {
    margin: 0.7rem;
    width: 260px;
    height: 260px;
    overflow: hidden;
    border-bottom: 1px solid rgba(160, 96, 167, 0.7);
}

.item-thumbnail img {
    width: 260px;
    height: auto;
}

.item-card .item-name {
    margin: 0 0.7rem 0.7rem 0.7rem;
    text-overflow: ellipsis;
}

.item-preview {
    width: 300px;
    background: grey;
}
.item-preview img {
    width: 100%;
    height: auto;
}
.item-name {
    text-overflow: ellipsis;
}
.item-description {
    min-height: 100px;
}
#body {
    min-height: 30vh;
}

.auth-page {
    background-image: url("../img/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.form-control-alternative[type].auth {
    background-color: #32363a;
    color: #fff;
    /* border-bottom: 2px #8898aa solid; */
}

hr {
    border: 1.5px solid;
}

.toast {
    position: fixed;
    bottom: 0;
    right: 0;
}
.carousel-inner {
    height: 200px;
}

.carousel-item {
    height: 100%;
    background: #140765;
}

.carousel-item img {
    height: 100%;
    width: auto;
    opacity: 0.5;
}

.list-group-item.active a {
    color: #fff;
}

.md-text-center-from-left {
    text-align: left;
}

/* CUSTOM CAROUSEL */
.carousel-control-next {
    transition: background 0.6 ease-in;
    -webkit-transition: background 0.6 ease-in;
}
.carousel-control-next:hover {
    background: rgb(255, 255, 255, 0.2);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    );
}

.carousel-caption {
    left: 5%;
}

.ball {
    margin-bottom: 0;
}

.ball li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #fff;
}

.ball .active {
    background-color: #34b697;
}

/* horizontal scrollable */

.horizontal-scrollable > .row {
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.horizontal-scrollable > .row > .box {
    display: flex;
    justify-content: center;
    align-items: center;
    float: none;
    height: 100px;
    margin: 0.5rem 1rem 0.5rem 0;
    border-radius: 5px;
}

.flex-center-ultra {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-middle-left {
    display: flex;
    align-items: center;
}

.my-status-success {
    background: #34b697;
}
.my-status-process {
    background: #daaf19;
}
.my-status-failed {
    background: #bd3232;
}

a.d-block {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
a.d-block:hover {
    transform: scale(1.05);
}
a.d-block:focus {
    transform: scale(1);
    outline: 2px solid #34b697;
}

a.box.create,
.xbox.create {
    color: black;
    background: #fff;
    border: 2px dashed black;
    opacity: 0.5;
}

a.box.create:focus,
.xbox.create {
    color: rgba(0, 0, 0, 0.6);
    background: #fff;
    border: 2px dashed rgba(0, 0, 0, 0.6);
    opacity: 0.5;
}
.xbox.create:hover {
    text-decoration: underline;
}

@media (min-width: 576px) {
    .carousel-item img {
        height: auto;
        width: 100%;
        opacity: 0.5;
    }
}

@media (min-width: 768px) {
    .rounded-md-10 {
        border-radius: 10px;
    }

    .md-text-center-from-left {
        text-align: center;
    }

    .profile-card .profile-content img {
        width: 130px;
        height: 130px;
        border: 4px solid rgba(52, 182, 152, 1);
    }

    .md-h3 {
        font-size: 1.75rem;
    }

    .carousel-inner {
        height: 300px;
    }

    .carousel-item {
        height: 100%;
        background: #140765;
    }

    .carousel-item img {
        height: auto;
        width: 100%;
        opacity: 0.5;
    }
}
